.dark{
    background-color: rgba(0,0,0,0.4);
    border-radius:50px;  
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 40px;
    text-shadow: 0px 0px 10px #00d2ff;
    color: #fff;
    font-size: 32px;
  }